.is-rainbow-red {
  color: var(--rainbowRed);
}
.is-rainbow-orange {
  color: var(--rainbowOrange);
}
.is-rainbow-yellow {
  color: var(--rainbowYellow);
}
.is-rainbow-green {
  color: var(--rainbowGreen);
}
.is-rainbow-blue {
  color: var(--rainbowBlue);
}
.is-rainbow-violet {
  color: var(--rainbowViolet);
}


#terminal {
    background: var(--terminalBackground);
    border-radius: var(--terminalBorder);
    border: 2px solid var(--terminalBorderColour);
    box-shadow: 0 .5em 1em 1em rgba(34, 34, 34, 0.5);
    font-family: monaco, Consolas, Lucida Console, monospace;
    width: 45vw;
    max-width: 45vw;
    font-weight: 700;

.terminal-header {
    background: var(--terminalHeader);
    border-radius: var(--terminalBorder) var(--terminalBorder) 0px 0px;
    border: 2px solid var(--terminalHeader);
    /* border-radius: var(--terminalBorder var(--terminalBorder 0 0)); */

    .terminal-header-buttons {
        display: flex;
        flex-direction: row;
        padding: .5em 1em;

        .terminal-button {
            width: var(--terminalButtonSize);
            height: var(--terminalButtonSize);
            border-radius: 1em;
            margin-right: .5em;

            &.close {
                background: var(--terminalClose);
                border: 1px solid var(--terminalCloseBorder);
                position: relative;
            }

            &.minimise {
                background: var(--terminalMinimise);
                border: 1px solid var(--terminalMinimiseBorder);
            }

            &.expand {
                background: var(--terminalExpand);
                border: 1px solid var(--terminalExpandBorder);
            }
        }
    }
}
}

.terminal-body {
    padding: 1em;
    color: var(--terminalText);
    height:480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .has-text-weight-bold {
      color: lighten(var(--terminalText), 10%);
    }

    .text-info {
      color: var(--terminalBarAccents);
    }

    a {
      color: var(--primary-300);
      text-decoration: underline;
    }
  }

.terminal-body-commands {
  overflow-y: scroll;
  /* overflow-anchor: none; */
}

.decorative-text {
  font-family: Platinum;
  text-align: left;
  letter-spacing: -2px;
}

/* .terminal-body-commands * {
  overflow-anchor: none;
} */

/* .terminal-body-commands > p {
  overflow-anchor: auto;
} */

/* 
.command-prompt {
    font-family: "Courier New", monospace;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: 50px auto;
  }
  
  .output {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .command {
    color: #00ff00;
  }
   */  

  .input {
    border: none;
    background: transparent;
    outline: none;
    color: #000000;
    width: calc(100% - 20px);
  }
  
  .input::placeholder {
    color: #000000;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input:focus::placeholder {
    color: transparent;
  }

.icon {
  color: var(--terminalBarAccents);
  padding-right: 5px;
}  
  /* .cursor {
    display: none;
    background: var(--terminalText);
    width: .5em;
    height: 1.2em;
    animation: flash 1s infinite;
    position: absolute;
    top: .25em;
    left: 1em;
  } */

  .floating-casette { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 260px;
    height: 260px;
    position: absolute;
    top: 440px;
    right: 20px;
  }

  @keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 35px); }
    100% { transform: translate(0, -0px); } 
  }  