:root {
  /* --terminalBackground: #0A1704; */
  --terminalBackground: #ffffff;
  --terminalHeader: #dbdadb;
  --terminalBorder: 15px;
  --terminalBorderColour: #c0c0c0;
  --terminalBar: #3D65D3;
  --terminalBarAccents: #F45BEE;
  /* --terminalText: #0D339D; */
  --terminalText: #000000;
  --terminalClose: #FF4746;
  --terminalCloseBorder: #b81717;
  --terminalMinimise: #FFBE00;
  --terminalMinimiseBorder: #aa7813;
  --terminalExpand: #00DB47;
  --terminalExpandBorder: #0d791f;
  --terminalButtonSize: .75em;

  --rainbowRed: #FF0000;
  --rainbowOrange: #FF7F00;
  --rainbowYellow: #ffea00;
  --rainbowGreen: #06cb06;
  --rainbowBlue: #0000FF;
  --rainbowViolet: #4B0082;
}